<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>AI_attendance</title>
</head>
<body>
    <div class="logo">
        <img src="../static/img/logo-white-transparent.png" alt="">
        <hr color="#08edb1" width="100%">
    </div>
    <!-- <img src="img/background.png" class="background"> -->
      <!-- Header -->
      <section id="header">
                <div class="animatedText">
                    <h1><span>A!</span> Attendence</h1>
                </div>  
                        
        </section>
        
        <!-- End of Header -->
    <!-- login Section -->
    <section id="login">
        <div class="login-container">
            <img src="../static/img/admin-removebg-preview.png" class="login-container__img modifer">
            <a href="/login" class="heading">Login For Admin</a>
        </div>
        <div class="login-container">
            <img src="../static/img/user2-removebg-preview.png" class="login-container__img modify">
            <a href="/attendees_dashboard" class="heading">Login For Attendees</a>
        </div>
    </section>
    <hr color="#08edb1" width="100%" class="footline">
    <div class="footer">
        

        <div class="footimg_container">
            <img src="../static/img/logo-white-transparent.png" class="footimg" alt="">
        </div>
        <div>&#169;copyright AI Attendence 2024</div>
        <div class="footer-links">
            <a href="#">terms</a>
            <a href="#">services</a>
        </div>

    </div>
    <!-- End of login Section -->
        
</body>
</html>